@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat&family=Noto+Sans+KR:wght@100;400;500&family=Open+Sans&family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat&family=Noto+Sans+KR:wght@100;400;500&family=Open+Sans&family=Oxygen:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat&family=Noto+Sans+KR:wght@100;400;500&family=Open+Sans&family=Oxygen:wght@300;400;700&display=swap');
html{
    font-size: 100%;
}
body{
    display: flex;
    justify-content: center;
    grid: 40px;
    border-color: black;
}

.container{
    display: grid;
    width: 65%;
    height: 120vh;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 3fr 2fr;
    gap: 20px;
}
#fleurs{
    max-width: 70vw;
    max-height: 70vh;
    grid-column: 1 /span 2;
}
#home{
    display: flex;
    justify-content: end;
    font-size:  2rem;
    color: black;
}
a{
    text-decoration: none;
}
.titre{
    background-color:white;
    grid-column: 2 /span 3;
    }
    
.prop{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size:  6rem;
    margin-top: 90px;
 }
.luc{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 4rem;
    color: darkseagreen;
 }

 .liens{
    background-color: darkseagreen;
}

.hobbies{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.atouts{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#link{
    color: black;
}


.res1, .res2, .res3, .res4, .res5, .res6{
    font-size: 50px;
    display: flex;
    
}
.res1{
   justify-content: center;
   margin-top: 10px;
    
}
.res1:hover{
    transform: skew(-30deg, 20deg);
    transition: all 200ms ease-in-out;
}
.res2{
    display: flex;
    justify-content: center;
    
}
.res2:hover{
    transform: skew(30deg, 20deg);
    transition: all 200ms ease-in-out;
}
.res3{
    display: flex;
    justify-content: center;
    
}
.res3:hover{
    transform: skew(-30deg, 20deg);
    transition: all 200ms ease-in-out;
}
.res4{
    display: flex;
    justify-content: center;
    
}
.res4:hover{
    transform: skew(30deg, 20deg);
    transition: all 200ms ease-in-out;
    color: #0c930c6c; 
}
.res5{
    display: flex;
    justify-content: center;
}

.res6{
    display: flex;
    justify-content: center;
}
.lois {
    display: flex;
    justify-content:start;
    color: white;
    font-size: 40px;
}
h4{
    color: white;
}
h5{
    font-size: 15px;
}
.at{
    margin-top: -10px;
    color: white;
    font-size: 40px;
}

@media screen and (max-width: 768px){
   h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    
    }