@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat&family=Noto+Sans+KR:wght@100;400;500&family=Open+Sans&family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat&family=Noto+Sans+KR:wght@100;400;500&family=Open+Sans&family=Oxygen:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat&family=Noto+Sans+KR:wght@100;400;500&family=Open+Sans&family=Oxygen:wght@300;400;700&display=swap');
html{
    font-size: 100%;
}
body{
    display: flex;
    justify-content: center;
    grid: 40px;
    border-color: black;
}

.container{
    display: grid;
    width: 65vw;
    height: 120vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}
#fleurs{
    max-width: 70vw;
    max-height: 70vh;
}

.titre{
background-color:white;
grid-column: 2 /span 2;
}

.curr{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 6rem;
}
.conc{
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 4rem;
}
.name{
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 3rem;
    color: darkseagreen;
} 
#me{
    max-width: 100%;
    height: auto;
    margin-top: -180px;
   
}
#me:hover{
    transform: scale(1.5) rotate(-30deg);
    transition: all 150ms ease-in-out;
    color:darkseagreen;
}
.pres{
    background-color: darkseagreen;
}
.vous{
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.maya{
    font-size: 1rem;
    font-weight: lighter;
    margin-left: 110px;
}
.forma{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form{
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
#book{
    margin-top: 210px;
    font-size: 6rem;
    color: white;
}
#book:hover{
    transform: scale(1.2) rotate(-20deg);
    transition: all 125ms ease-in-out;
    font-size: 10rem;
    color:darkseagreen;
}

.exp{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.expe{
    color: white;
    font-size:  3rem;
    display: flex;
    justify-content: center;
    
}
#bag{
    margin-top: 210px;
    font-size:  6rem;
    color: white;
}
#bag:hover{
    transform: scale(1.2) rotate(-20deg);
    transition: all 125ms ease-in-out;
    font-size: 10rem;
    color:darkseagreen;
}

@media screen and (max-width: 768px){
.curr{
    font-size: 3rem;
}
.conc{
    font-size: 2rem;
}
.name{
    font-size: 2rem;
}
}