@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat&family=Noto+Sans+KR:wght@100;400;500&family=Open+Sans&family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat&family=Noto+Sans+KR:wght@100;400;500&family=Open+Sans&family=Oxygen:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat&family=Noto+Sans+KR:wght@100;400;500&family=Open+Sans&family=Oxygen:wght@300;400;700&display=swap');
html{
    font-size: 100%;
}
body{
    display: flex;
    justify-content: center;
    grid: 40px;
    border-color: black;
}

.container{
    display: grid;
    width: 65%;
    height: 120vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 3fr 2fr;
    gap: 20px;
}
#fleurs{
    max-width: 70vw;
    max-height: 70vh;
    grid-column: 1 /span 2;
}
#home{
    display: flex;
    justify-content: end;
    font-size: 20px;
    color: black;
}
a{
    text-decoration: none;
}
.titre2{
    background-color:white;
    grid-column: 2 /span 4;
}

.forma{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-weight: bolder;
    font-size: 90px;
}
.exp{
    display: flex;
    flex-direction: row;
    background-color: darkseagreen;
    grid-column: 1 /span 5;
}
.tele{
   width: 20%;
   height: 100%;
   background-color: rgb(80, 115, 80);
}
.telec{
    width: 20%;
}
.op{
    width: 20%;
    height: 100%;
    background-color: rgb(80, 115, 80);
}
.compta{
    width: 20%;
}
.ven{
    width: 20%;
    height: 100%;
    background-color: rgb(80, 115, 80);
}
.date{
    margin-top: 90px;
}
h3 {
    font-weight: bolder;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
#vend{
    margin-left: 50px;
}
h4{
    font-weight: normal;
    font-size: 20px;
    margin-left:  35px;
    margin-right: 35px;
}

h5{
    font-weight: normal;
    margin-left: 25px;
    margin-right: 25px;
}
#data{
    margin-top: 30px;
}
#jui{
    margin-top: 60px;
}